

<%- include("../../views/partials/user/header") %>


<div class="container text-center py-5">
    <img src="/images/" alt="Success" class="mb-4" style="max-width: 300px;">
    <h2>Thank You for Your Order!</h2>
    <p>Your order #<%= orderId %> has been successfully placed.</p>
    <div class="mt-4">
        <a href="/orderDetails?id=<%= orderId %>" class="btn btn-primary me-2">View Order Details</a>
        <a href="/shop" class="btn btn-secondary">Continue Shopping</a>
    </div>
</div>


<%- include("../../views/partials/user/footer") %>